<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014127072269-r319hgkkle2t6rqtc5oqhecfpe80nqau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014127072269-r319hgkkle2t6rqtc5oqhecfpe80nqau</string>
	<key>API_KEY</key>
	<string>AIzaSyBioBqN76ubX6ymQTawYYj5u5q7biEEIAY</string>
	<key>GCM_SENDER_ID</key>
	<string>1014127072269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devansh.FantasyFootball</string>
	<key>PROJECT_ID</key>
	<string>fantasyfootball-e1d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasyfootball-e1d4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014127072269:ios:88e8b4d8bd898657</string>
	<key>DATABASE_URL</key>
	<string>https://fantasyfootball-e1d4e.firebaseio.com</string>
</dict>
</plist>